<h2>Welcome {{details?.user.first_name}}!</h2>

<form>

    Fist name: <input type="text"  name="first_name" value="{{details?.user.first_name}}"> <br>
    Last name: <input type="text"  name="last_name" value="{{details?.user.last_name}}"> <br>
    Email: <input type="email"  name="email" value="{{details?.user.email}}"> <br>
    Phone: <input type="number"  name="phone" value="{{details?.user.phone}}"> <br>
    <!-- Calory Daily Intake: <input type="text" name="user_calory">
    Protein Daily Intake: <input type="text" name="user_protein"> -->
    <button type="submit">Edit</button>
</form>